@charset "UTF-8";

html
{
    /* margin: 2%; */

    background-size: auto;
}

body
{
  font-family: "Helvetica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
  margin: auto;
  font-family: sans-serif;
  font-size: 100%;

  background-image: url("movie.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hwrap
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


  header
  {
    text-align: center;
    color: white;
  }
  .temp
  {
    text-align: center;
    color: white;
    outline-style: outset;
    outline-color: white;
    outline-width: 5px;
    background-color: black;
    width: 800px;
    margin: 30px auto;
  }

  .startpage
  {
    width: auto;
    height: auto;
  }

.navbar
{
  margin-left: 380px;
  display: flex;
  width: auto;
}
ul
{
  display: flex;
   margin: auto;
}
li
{
  margin: 30px;
}

form
{
  margin-left: 120px;
  float: right;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}
.passwerd
{
  width: auto;
  height: auto;
}

.nav-item
{
  outline-style: outset;
  outline-color: white;
  outline-width: 5px;
  font-size: 36px;
}
.nav-link
{
  color: white;
  background-color: black;
}
a:hover {
  color: #FF0066;
}

.SPA
{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
}

.space
{
  margin-top: 100px;
}
