@charset "UTF-8";

html
{
    /* margin: 2%; */
    background: url(https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/54417778_845289462477402_6753731365952290816_n.jpg?_nc_cat=106&_nc_ht=scontent-arn2-1.xx&oh=50887a540451f0d47b49ae337fb8e407&oe=5D07201A);
    background-size: auto;
}

body
{
  font-family: "Helvetica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
  margin: auto;
  font-family: sans-serif;
  font-size: 100%;
  /* background-color: white; */
}
.hwrap
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


  header
  {
    text-align: center;
    color: white;
  }
  .temp
  {
    text-align: center;
    color: white;
    outline-style: outset;
    outline-color: white;
    outline-width: 5px;
    background-color: black;
    width: 800px;
    margin: 30px auto;
  }



  .startpage .logo
  {
    width: auto;
    height: auto;
  }

.navbar
{
  margin-left: 200px;
  display: flex;
  width: auto;
}
ul
{
  display: flex;
   margin: auto;
}
li
{
  margin: 30px;
}

form
{
  float: right;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}
.passwerd
{
  width: auto;
  height: auto;
}

.nav-item
{
  outline-style: outset;
  outline-color: white;
  outline-width: 5px;
  font-size: 36px;
}
.nav-link
{
  color: white;
  background-color: black;
}
a:hover {
  color: #FF0066;
}

.Band
{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}


.Fallout1
{
  margin-top: 100px;
}
